body {
	margin: 0;
}

header {
	box-sizing: border-box;
    height: 100vh;
    position: relative;
}

header .container {
	margin: 0 auto;
	background-color: #E83C40;
	padding: 1.5%;
	max-width: 1400px;
}

.row {
	display: flex;
}

.logo {
	width: 30%;
}

.logo img {
	width: 40%;
}

.logo h1 {
	padding-top: 2.5%;
	color: white;
	font-size: 350%;
   	text-shadow: 3px 3px black;
}

.menu {
    text-align: right;
    width: 70%;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 6.5% 1.5% 0.5% 0%;
    font-size: 125%;
}

.menu ul li:not(:first-child) {
    margin-left: 2.5%;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 1.5px solid white;
    padding-bottom: 1px;
    transition: 0.2s border;
}